.headerContainer {
  display: flex;
  width: 100%;
  background-color: #f5f9ffe6;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.main {
  max-width: 1100px;
  margin: auto;
}

.excelContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 400px;
  width: 417px;
  border: #111 solid 1px;
  position: relative;
}
.rightCol iframe {
  position: absolute;
  top: -80px;
  left: -47px;
  height: 540px;
  width: 417px;
  clip: rect(153px, 400px, 448px, 47px);
}
